body {
  background-color: black;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  min-height: 100vh;
  overflow-x: hidden;
}

#nav {
  background-color: #0a0a0a;
  border-bottom: 1px solid #303030;
}

.nav-link,
.navbar-brand {
  font-family: "DreamOrphans-Regular", serif;
}

@font-face {
  font-family: "DreamOrphans-Regular";
  font-style: normal;
  src:
    local("DreamOrphans-Regular"),
    url("../font/dream_orphans.woff") format("woff");
}

html,
body {
  height: auto;
}

#banner {
  background-image: url(../img/banner.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-size: cover;
  border-bottom: 2px solid #303030;
  /* ← limita la larghezza */
  max-width: 100vw;
  overflow: hidden;
  margin-top: 60px;
  /* Testo al centro
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative; */
}

#news{
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
}

.newsModal{
  border: 1px solid white;
  background-color:#0a0a0a ;
}

/* .titolo {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 1196px) {
  .titolo {
    font-size: 2rem;
  }
}

#spantitolo {
  white-space: nowrap;
} */

/* @media (max-width: 800px) {
  .titolo {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .titolo {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .titolo {
    font-size: 1rem;
  }
} */

.paragrafo {
  text-align: justify;
  hyphens: auto;
  font-size: 1rem;
  line-height: 1.6;
  color: whitesmoke;
  font-family: "Jost", sans-serif;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 992px) {
  .paragrafo {
    line-height: 1.7;
  }
}

.sezioni {
  min-height: 80vh;
  padding-bottom: 7rem;
  padding-top: 4rem;
}

h1 {
  font-family: "DreamOrphans-Regular", serif;
}

h2 {
  font-weight: 300;
}

h3 {
  margin-top: 2rem;
}

h2,
h3,
h6 {
  font-family: "Cormorant Garamond", serif;
}

.img-card{
  margin-top: 6px;
  margin-bottom: 5px;
  
}

@media(max-width:765px){
  .img-card{
    width: 65%;
  }
}

@media(max-width:991px){
#maestroimg,#maestroimg2{
    width: 65%;
  }
}



#immagine {
  height: 190px;
  background-image: url(../img/sfondo.png);
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
}

#biografia{
  overflow: hidden;
}



#maestroimg,#maestroimg2{
  margin: 0 auto;
  display: block;
}


@media (max-width: 550px) {
  #immagine {
    background-size: 320px;
  }
}

@media (max-width: 765px) {
  #divposizione {
    justify-content: center !important;
  }
}

.underliner {
  border-bottom: 2px solid white;
  margin-top: 5px;
}

h6 {
  font-weight: bold;
}

#collegamenti {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social {
  padding-bottom: 1rem;
}

#posizioneimg:hover {
  border: 2px solid white;
}

.info {
  font-size: 1rem;
  font-family: "Jost", sans-serif;
}

.paragrafo_card {
  text-align: justify;
  hyphens: auto;
  font-size: 14px;
  color: whitesmoke;
  font-weight: 300;
}

.card {
  margin-top: 1rem;
  background-color: black;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
}

.orariocard {
  padding-left: 5px;
}

.card-title {
  font-weight: bold;
  font-size: 1rem;
}

#footer {
  background-color: #0a0a0a;
  margin-top: 3rem;
  height: auto;
  border-top: 2px solid #303030;
  justify-content: center;
  padding-top: 2rem;
}

.icone {
  border-radius: 50%;
  border: 1px solid transparent;
}

.table,
th,
td {
  color: whitesmoke;
}

table {
  margin: 1rem;
}
