body {
  background-color: black;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  overflow-x: hidden;
  max-width: 100vw;
}

#inizio {
  align-content: center;
  padding-top: 1.5rem;
  padding-bottom: 7rem;
}

.separatore {
  border-bottom: 2px solid #303030;
  margin-top: 2rem; /* 1rem= 16px 2rem=32px 7rem=112px*/
}

#immagine {
  height: 200px;
  background-image: url(img/sfondo.png);
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
}

#chisiamo {
  padding-top: 7rem;
}

#maestro {
  padding-top: 7rem;
}

#maestroimg {
  margin-top: 5px;
  margin-bottom: 10px;
}

#discipline {
  padding-top: 7rem;
}

@media (max-width: 500px) {
  #immagine {
    background-size: 350px;
  }
}

#nav {
  background-color: #0a0a0a;
  border-bottom: 1px solid #303030;
}

#banner {
  background-image: url(img/banner.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-size: cover;
  border-bottom: 2px solid #303030;
  /* ← limita la larghezza */
  max-width: 100vw;
  overflow: hidden;
  margin-top: 60px;
  /* Testo al centro
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative; */
}

h1,
h3,
h2 {
  font-weight: bold;
  line-height: 1.2;
  padding: 0 0 0 0.5rem;
}

h2 {
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

#titolo {
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 800px) {
  #titolo {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media(max-width:765px){
  #divposizione{
    justify-content: flex-start !important; 
  }
}

.underliner {
  border-bottom: 2px solid white;
  margin-top: 5px;
}

h6 {
  font-weight: bold;
}

#collegamenti {
  padding-top: 2rem;
}

#social {
  padding-bottom: 1rem;
}

#posizioneimg:hover {
  border: 2px solid white;
}

.info {
  font-size: 1rem;
}

.paragrafo {
  text-align: justify;
  hyphens: auto;
  font-size: 1rem;
  line-height: 1.8;
  color: whitesmoke;
  font-weight: 300;
  padding: 0 0.5rem 0 0.5rem;
}

.button {
  color: white;
  border-color: white;
  padding: 10px;
  width: 100%;
  margin: 2px;
}

.card {
  background-color: #0a0a0a;
  border: 1px solid white;
  margin-top: 2rem;
}

.card-text {
  font-size: 1rem;
  text-align: justify;
  hyphens: auto;
  font-weight: 200;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
}

.orariocard {
  padding-left: 5px;
}

.card-title {
  font-weight: bold;
  font-size: 1rem;
}

#footer {
  background-color: #0a0a0a;
  margin-top: 2rem;
  height: auto;
  border-top: 2px solid #303030;
  justify-content: center;
}

.icone {
  border-radius: 25px;
  border: 1px solid transparent;
}
